/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/mvnw
/mvnw.cmd
/thingsofvalueEdu.log
/thingsofvalueEdu.log.2018-07-13.0.gz
/thingsofvalueEdu.log.2018-07-14.0.gz
/thingsofvalueEdu.log.2018-07-15.0.gz
/thingsofvalueEdu.log.2018-07-16.0.gz
/thingsofvalueEdu.log.2018-07-17.0.gz
/thingsofvalueEdu.log.2018-07-24.0.gz
/thingsofvalueEdu.log.2018-07-25.0.gz
/thingsofvalueEdu.log.2018-07-26.0.gz
